IaCs/terraform/s2/.terraform/plugins/windows_amd64/lock.json
IaCs/terraform/s2/.terraform/plugins/windows_amd64/terraform-provider-azurerm_v2.17.0_x5.exe
IaCs/terraform/s2/.terraform/plugins/windows_amd64/terraform-provider-random_v2.2.1_x4.exe
IaCs/terraform/s2/terraform.tfstate
IaCs/terraform/s2/.terraform.tfstate.lock.info
IaCs/terraform/s2/terraform.tfstate.backup
IaCs/terraform/s3/.terraform/plugins/windows_amd64/terraform-provider-azurerm_v2.18.0_x5.exe
IaCs/terraform/s3/.terraform/plugins/windows_amd64/lock.json
IaCs/terraform/s4/.terraform/plugins/windows_amd64/lock.json
IaCs/terraform/s4/.terraform/plugins/windows_amd64/terraform-provider-azurerm_v2.18.0_x5.exe
IaCs/terraform/s4/.terraform/plugins/windows_amd64/terraform-provider-random_v2.3.0_x4.exe
IaCs/terraform/s4/terraform.tfstate
IaCs/terraform/s4/.terraform.tfstate.lock.info
IaCs/terraform/s4/terraform.tfstate.backup
IaCs/terraform/s4/.terraform/plugins/selections.json
IaCs/terraform/s4/.terraform/plugins/registry.terraform.io/hashicorp/azurerm/2.27.0/windows_amd64/terraform-provider-azurerm_v2.27.0_x5.exe
IaCs/terraform/s4/.terraform/plugins/registry.terraform.io/hashicorp/random/2.3.0/windows_amd64/terraform-provider-random_v2.3.0_x4.exe
